@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');

.user__photo{
    width: 300px;
}


.update{
    display: block;
    text-align: center;
    text-decoration: none;
}

.user_small__photo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.btn-close{
    position: absolute;
    top: 10px;
    right: 10px;
}

@import url("https://fonts.googleapis.com/css?family=Bungee");

a {
  color: #2aa7cc;
  text-decoration: none;
}
svg {
  width: 50vw;
}
.lightblue {
  fill: #444;
}
.eye {
  cx: calc(115px + 30px * var(--mouse-x));
  cy: calc(50px + 30px * var(--mouse-y));
}
#eye-wrap {
  overflow: hidden;
}
.error-text {
  font-size: 120px;
}
.alarm {
  animation: alarmOn 0.5s infinite;
}

@keyframes alarmOn {
  to {
    fill: darkred;
  }
}

.container-comment{
	background-color: #eef2f5;
    display: flex;
    flex-direction: column;
}

.second{
	width: 100%;
	background-color: white;
	border-radius: 4px;
	box-shadow: 10px 10px 5px #aaaaaa;
}
.text1{
	font-size: 13px;
    font-weight: 500;
    color: #56575b;
}
.text2{
	font-size: 13px;
    font-weight: 500;
    margin-left: 6px;
    color: #56575b;
}
.text3{
	font-size: 13px;
    font-weight: 100;
    margin-right: 4px;
    color: #b4b4b7;
}
.text3o{
	color: #00a5f4;

}
.text4{
	font-size: 13px;
    font-weight: 500;
    color: #828386;
}
.text4i{
	color: #00a5f4;
}
.text4o{
	color: white;
}
.thumbup{
	font-size: 13px;
    font-weight: 500;
    margin-right: 5px;
}
.thumbupo{
	color: #f6d812;
}

.comment__btn{
    position: fixed;
    right: 10px;
    bottom: 50px;
}

.carousel{
height: 650px;
background-color: #00a5f4;
}

.carousel .carousel-item{
height: 650px;
}

.carousel .carousel-item img{
height: 100%;
}

.alert-message{
  position: fixed;
  top: 15%;
  right: -300px;
  animation: alert 3s linear;
  z-index: 9999;
  opacity: 0;
}
@keyframes alert{
  10%{
      right: -300px;
      opacity: .85;
  }
  35%{
      right: 20px;
      opacity: 1;
  }
  45%{
      right: 60px;
      opacity: 1;
  }
  55%{
      right: 20px;
      opacity: 1;
  }
  65%{
      right: 20px;
      opacity: 1;
  }
  75%{
      right: 20px;
      opacity: 1;
  }
  85%{
      right: 20px;
      opacity: .85;
  }
  100%{
      right: -300px;
      opacity: 0;
  }
}

.review__img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.text-1{
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.read_more_btn{
  font-size: 22px;
  vertical-align: middle;
  animation: read_more 20s linear infinite;
  border-radius: 50%;
}

.read_more_btn:hover{
  box-shadow: 0 0 10px #43c3ff, 
              0 0 20px #43c3ff,
              0 0 30px #43c3ff,  
              0 0 40px #43c3ff
                                ;
}

@keyframes read_more{
  0%{
    transform: translate(1px, -2px);
  }
  5%{
    transform: translate(1px, -2px);
    color: #00a5f4;
  }
  10%{
    transform: translate(1px, -2px);
    color: #43c3ff;
  }
  15%{
    transform: translate(-1px, 2px);
    color: #4ec4ec;
  }
  20%{
    transform: translate(1px, -2px);
    color: #8cd8fc;
  }
  25%{
    transform: translate(-2px, 1px);
    color: #5ccafd;
  }
  30%{
    transform: translate(2px, 1px);
    color: #2ab4f5;
  }
  35%{
    transform: translate(-1px, -2px);
    color: #38c0ff;
  }
  40%{
    transform: translate(-2px, -1px);
    color: #38c0ff;
  }
  45%{
    transform: translate(2px, 1px);
    color: #38c0ff;
  }
  50%{
    transform: translate(-1px, -2px);
    color: #38c0ff;
  }
  55%{
    transform: translate(1px, -2px);
    color: #38c0ff;
  }
  60%{
    transform: translate(-1px, -1px);
    color: #38c0ff;
  }
  65%{
    transform: translate(-1px, 1px);
    color: #38c0ff;
  }
  70%{
    transform: translate(1px, 1px);
    color: #38c0ff;
  }
}