{% extends 'base.html' %}

{% block title %} Goodreads | home {% endblock title %}
{% block content %}

{% if pages %}

<div class="row mb-2">
    <div class="col-10 col-lg-6 mx-auto">
        <form class="d-flex" role="search" method='get'>
            <input class="form-control me-2 border-info text-info" name='q' value="{{ search }}" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info" type="submit">Search</button>
        </form>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
{% for review in pages.object_list %}
    <div class="col">
      <div class="card bg-transparent border-info p-2">
        <img src="{{ review.user.photo.url }}" class="card-img-top review__img" alt="...">
        <p class="card-title"> <strong>{{ review.user.username }}</strong> rated this book {{ review.stars_given }} <i class="fa-solid fa-star thumbupo"></i> </p>
        <p class="text-1"> {{ review.created_at|date:"d M ,Y | H:i" }} </p>
        <div class="card-body text-info border-info p-1 m-0">
          <p class="card-text text-1"> {{ review.comment }} </p>
          <img src="{{ review.book.photo.url }}" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
{% endfor %}
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination mt-2">
        {% if pages.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1"><i class="fa-solid fa-backward-fast"></i> First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ pages.previous_page_number }}">Previous</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link active" style="cursor: not-allowed;"> {{ pages.number }} </a></li>
     {% if pages.has_next %}
     <li class="page-item"><a class="page-link" href="?page={{ pages.next_page_number }}">Next</a></li>
     <li class="page-item"><a class="page-link" href="?page={{ pages.paginator.num_pages }}">Last <i class="fa-solid fa-forward-fast"></i></a></li>
     {% else %}
     <li class="page-item"><a class="page-link disabled">Next </a></li>
     {% endif %}
    </ul>
</nav>

{% else %}
<p class="text-success">No users found.</p>
{% endif %}

{% endblock content %}