{% extends 'base.html' %}

{% block title %} Goodreads | Landing Page {% endblock title %}
{% block additional_styles %}
<style>
    body{
        background-image: linear-gradient( 102.4deg,  rgba(253,189,85,1) 7.8%, rgba(249,131,255,1) 100.3% );
    }
</style>
{% endblock additional_styles %}
{% load static %}
{% block content %}
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'assets/slide1.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Bu dasrtur ingliz tilidagi kitob muhokamasi uchun.</h5>
            <p>Biz kitoblar joylab boramiz . Kitoblar sahifasiga o'tib yoqtirgan kitobingizga izoh yozing !...</p>
          </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'assets/slide2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Kitoblar dunyoqarashingiz va shaxsiy rvojlanishingiz uchun eng yaxshi yo'ldir.</h5>
            <p> Kelgusida ingliz tilida sms yozishmalar , shaxsiy kabinet va video , audio muloqot xizmatlari ham yo'lga qo'yiladi. </p>
          </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'assets/slide3.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Ro'yxatdan o'ting va bepul aqliy saloyihatingizni rivojlantiring.</h5>
            <p>Chalg'ituvchi hayotda har narsaga chalg'imang vaqtingizni kitobxonlar orasida ham o'tkizing !...</p>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock content %}