{% extends 'base.html' %}

{% block title %} Goodreads | Landing Page {% endblock title %}

{% block content %}
    This landing page and some information about of our website.
    <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fugiat iure beatae unde reprehenderit, consequatur quod omnis cupiditate dolorum ab. Alias, et odit quidem, expedita omnis ipsa animi optio consequatur, magni cumque porro voluptatem. Accusantium vitae iste deserunt iusto quo.</i>
{% endblock content %}