.user__photo{
    width: 300px;
}


.update{
    display: block;
    text-align: center;
    text-decoration: none;
}

.user_small__photo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.btn-close{
    position: absolute;
    top: 10px;
    right: 10px;
}

@import url("https://fonts.googleapis.com/css?family=Bungee");

a {
  color: #2aa7cc;
  text-decoration: none;
}
svg {
  width: 50vw;
}
.lightblue {
  fill: #444;
}
.eye {
  cx: calc(115px + 30px * var(--mouse-x));
  cy: calc(50px + 30px * var(--mouse-y));
}
#eye-wrap {
  overflow: hidden;
}
.error-text {
  font-size: 120px;
}
.alarm {
  animation: alarmOn 0.5s infinite;
}

@keyframes alarmOn {
  to {
    fill: darkred;
  }
}

.container-comment{
	background-color: #eef2f5;
    display: flex;
    flex-direction: column;
}

.second{
	width: 100%;
	background-color: white;
	border-radius: 4px;
	box-shadow: 10px 10px 5px #aaaaaa;
}
.text1{
	font-size: 13px;
    font-weight: 500;
    color: #56575b;
}
.text2{
	font-size: 13px;
    font-weight: 500;
    margin-left: 6px;
    color: #56575b;
}
.text3{
	font-size: 13px;
    font-weight: 100;
    margin-right: 4px;
    color: #b4b4b7;
}
.text3o{
	color: #00a5f4;

}
.text4{
	font-size: 13px;
    font-weight: 500;
    color: #828386;
}
.text4i{
	color: #00a5f4;
}
.text4o{
	color: white;
}
.thumbup{
	font-size: 13px;
    font-weight: 500;
    margin-right: 5px;
}
.thumbupo{
	color: #f6d812;
}

.comment__btn{
    position: fixed;
    right: 10px;
    bottom: 50px;
}

.carousel{
height: 650px;
background-color: #00a5f4;
}

.carousel .carousel-item{
height: 650px;
}

.carousel .carousel-item img{
height: 100%;
}

.alert-message{
  position: fixed;
  to: 15%;
  right: -300px;
  animation: alert 3s linear;
  z-index: 9999;
}
@keyframes alert{
  10%{
      right: -300px;
  }
  35%{
      right: 20px;
  }
  45%{
      right: 60px;
  }
  55%{
      right: 20px;
  }
  65%{
      right: 20px;
  }
  75%{
      right: 20px;
  }
  85%{
      right: 20px;
  }
  100%{
      right: -300px;
  }
}